@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  background: #f5f5f5;
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

a {
  color: #999;
}

a:hover {
  color: #999;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

img {
  width: 100%;
}

div {
  box-sizing: border-box;
}

ul, li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

input {
  border: none;
  outline: none;
}

.rt {
  position: absolute;
  line-height: 50px;
  right: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/****
* icon 图标 common
****/
@font-face {
  font-family: 'icomoon';
  src: url("../css/fonts/widget-icomoon.eot?pz7xay");
  src: url("../css/fonts/widget-icomoon.eot?pz7xay") format("embedded-opentype"), url("../css/fonts/widget-icomoon.ttf?pz7xay") format("truetype"), url("../css/fonts/widget-icomoon.woff?pz7xay") format("woff"), url("../css/fonts/widget-icomoon.svg?pz7xay") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e936";
}

.icon-head-bot:before {
  content: "\e937";
}

.icon-head-top:before {
  content: "\e938";
}

.icon-Collection:before {
  content: "\e939";
}

.icon-ask:before {
  content: "\e93a";
  color: #969b9c;
}

.icon-message:before {
  content: "\e93b";
}

.icon-metro:before {
  content: "\e933";
  color: #00ae66;
}

.icon-report:before {
  content: "\e932";
}

.icon-maLoca:before {
  content: "\e934";
}

.icon-share:before {
  content: "\e935";
}

.icon-map:before {
  content: "\e900";
  color: #969b9c;
}

.icon-ind:before {
  content: "\e901";
  color: #969b9c;
}

.icon-my:before {
  content: "\e902";
  color: #969b9c;
}

.icon-mess:before {
  content: "\e903";
}

.icon-findHouse:before {
  content: "\e904";
  color: #969b9c;
}

.icon-arrow:before {
  content: "\e905";
  color: #989898;
}

.icon-seach:before {
  content: "\e906";
  color: #a6a6a6;
}

.icon-ref:before {
  content: "\e907";
}

.icon-vid:before {
  content: "\e908";
}

.icon-order:before {
  content: "\e909";
}

.icon-myinfo:before {
  content: "\e90a";
}

.icon-record:before {
  content: "\e90b";
}

.icon-cust:before {
  content: "\e90c";
}

.icon-air:before {
  content: "\e90d";
}

.icon-broadband:before {
  content: "\e90e";
}

.icon-gas:before {
  content: "\e90f";
}

.icon-Heat:before {
  content: "\e910";
}

.icon-eval:before {
  content: "\e911";
}

.icon-heater:before {
  content: "\e912";
}

.icon-sofa:before {
  content: "\e913";
}

.icon-set:before {
  content: "\e914";
  color: #4a576a;
}

.icon-identity:before {
  content: "\e915";
}

.icon-coll:before {
  content: "\e916";
  color: #5a5a5a;
}

.icon-wash:before {
  content: "\e917";
}

.icon-wardrobe:before {
  content: "\e918";
  color: #666;
}

.icon-back:before {
  content: "\e919";
}

.icon-infom:before {
  content: "\e91a";
  color: #969b9c;
}

.icon-auth:before {
  content: "\e91b";
  vertical-align: middle;
}

.icon-pic:before {
  content: "\e91c";
}

.icon-morey:before {
  content: "\e91d";
}

.icon-order:before {
  content: "\e91e";
}

.icon-time:before {
  content: "\e91f";
}

.icon-ok:before {
  content: "\e920";
}

.icon-pho:before {
  content: "\e921";
  color: #6b7072;
}

.icon-cls:before {
  content: "\e922";
  color: #6b7072;
}

.icon-add:before {
  content: "\e923";
  color: #6b7072;
}

.icon-expression:before {
  content: "\e924";
  color: #6b7072;
}

.icon-problem:before {
  content: "\e925";
}

.icon-成交订单:before {
  content: "\e926";
  color: #fff;
}

.icon-error:before {
  content: "\e927";
}

.icon-backTop:before {
  content: "\e928";
}

.icon-backBot:before {
  content: "\e929";
}

.icon-backRit:before {
  content: "\e92a";
}

.icon-房子:before {
  content: "\e92b";
}

.icon-海外:before {
  content: "\e92c";
}

.icon-计算器:before {
  content: "\e92d";
}

.icon-箭头向上:before {
  content: "\e92e";
  color: #989898;
}

.icon-箭头向右:before {
  content: "\e92f";
  color: #989898;
}

.icon-箭头向左:before {
  content: "\e930";
  color: #989898;
}

.icon-house:before {
  content: "\e931";
}

/*公用标题样式*/
.title, .title-line {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  position: relative;
}

.title span, .title-line span {
  position: absolute;
  right: 3%;
  top: 0px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
}

.title-line {
  border-bottom: solid 1px #cecece;
}

.orderTitle {
  position: relative;
  font-weight: 500;
  color: #666;
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: solid 1px #cecece;
}

.orderTitle a {
  position: absolute;
  text-decoration: none;
  right: 0;
}

.orderTitle a i:before {
  position: relative;
  top: 2px;
  right: 5px;
  color: #21b97a;
}

.headTop {
  position: relative;
  padding: 10px;
}

.headTop .goBack, .headTop span {
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

.headTop span {
  font-size: 15px;
}

.headTop .tit {
  position: relative;
  text-align: center;
  color: #666;
  line-height: 30px;
  font-size: 18px;
}

.headTop .tit a, .headTop .tit span {
  position: absolute;
  right: 3%;
  left: auto;
  top: 0px;
  font-size: 15px;
  text-decoration: none;
}

.headTop .tit a {
  left: auto;
  color: #21b97a;
}

.headTop .tabSwitch {
  position: relative;
  text-align: center;
  color: #666;
  line-height: 30px;
  font-size: 18px;
}

.headTop .tabSwitch span {
  float: none;
  display: inline-block;
  position: initial;
  border-bottom: solid 2px #f5f5f5;
  padding: 0 5px;
  margin: 0 3%;
}

.headTop .tabSwitch .act {
  color: #21b97a;
  border-bottom: solid 2px #21b97a;
}

.tabSwitchBox {
  padding-bottom: 0px;
}

.tabSwitchBox .tabSwitch span {
  padding-bottom: 5px;
}

.search {
  position: relative;
}

.search input {
  width: calc(100% - 80px);
  padding: 10px 10px 10px 25px;
  border-radius: 3px;
  font-size: 14px;
  background: #cecece;
}

.search .icon-seach {
  position: absolute;
  left: 15px;
  top: 20px;
}

.search .icon-edit {
  position: relative;
  color: #21b97a;
  margin-left: 10px;
  font-size: 24px;
  top: 7px;
}

.htLine {
  border-bottom: solid 1px #ccc;
}

.greenBottom {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: #21b97a;
  color: #fff;
  border-top: solid 1px #e8e8e9;
}

.greenBottom span:first-child {
  background: #fff;
  color: #21b97a;
}

.greenBottom span {
  width: 50%;
  float: left;
  line-height: 50px;
}

.footerBox {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background: #21b97a;
  color: #fff;
  border-top: solid 1px #e8e8e9;
}

.footerBox span:first-child, .footerBox span:nth-child(2) {
  background: #fff;
  color: #999;
}

.footerBox span:first-child {
  border-right: solid 1px #e8e8e9;
}

.footerBox span:first-child i:before {
  color: #999;
  position: relative;
  top: 1px;
  right: 3px;
}

.footerBox span {
  width: 33%;
  float: left;
  line-height: 50px;
}

.promptBox {
  color: #fa5741;
  font-size: 14px;
  background: #fff3cd;
  padding: 10px;
}

.promptBox i:before {
  color: #fa5741;
}

.itemBox {
  padding: 0 3%;
  background: #fff;
  color: #333;
}

.itemBox li {
  position: relative;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  color: #666;
  border-bottom: solid 1px #eeeeee;
}

.itemBox li .fl-rit {
  line-height: 50px;
  color: #666;
}

.itemBox li .fl-rit img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
}

.itemBox li .fl-rit i {
  font-weight: bold;
  font-size: 14px;
  color: #999;
  margin-left: 5px;
}

.itemBox li .fl-rit a {
  color: #21b97a;
  text-decoration: none;
}

.itemBox li input {
  border: none;
  max-width: 150px;
}

.itemBox li .tit {
  line-height: 50px;
}

.itemBox li .tit img {
  float: left;
  position: relative;
  top: 7px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.itemBox li:last-child {
  border-bottom: none;
}

input[type="radio"] + span::before {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #ffa000;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input[type="radio"]:checked + span::before {
  background-color: #ffa000;
  background-clip: content-box;
  padding: 5px;
}

input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.checkList {
  position: relative;
  margin-right: 10px;
}

input[type="checkbox"] {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  z-index: 3;
}

input[type="checkbox"] + span {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

input[type="checkbox"] + span::before {
  content: "\e920";
  text-align: center;
  color: #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #21b97a;
  position: relative;
  vertical-align: 1px;
  z-index: 1;
  font-size: 10px;
  line-height: 15px;
}

input[type="checkbox"]:checked + span::before {
  content: '\e920';
  background: #21b97a;
}

input[type='file'] + span {
  display: inline-block;
  margin-top: 10px;
  border: dashed 1px #bdbdbd;
  width: 80%;
  font-size: 48px;
  text-align: center;
  line-height: 70px;
  font-weight: 100;
}

input[type='file'] {
  position: absolute;
  margin-top: 10px;
  left: 0;
  z-index: 1;
  width: 100% !important;
  height: 100%;
  opacity: 0;
}

/*** 弹框  ****/
.popBox {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popBox .contBox {
  position: relative;
  color: #666;
  background: #eeeeee;
  max-width: 600px;
  border-radius: 3px;
  background: #eeeeee;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
}

.popBox .contBox textarea {
  background: #f1f1f1;
  border: solid 1px #e1e1e1;
  outline: none;
  padding: 3px 5px;
}

.popBox .tit, .popBox .bot {
  height: 50px;
  line-height: 50px;
  position: relative;
}

.popBox .tit span {
  position: absolute;
  text-align: right;
  top: 0px;
  right: 10px;
}

.popBox .cont {
  text-align: center;
  min-height: 100px;
}

.popBox .cont .prom {
  color: #fa5741;
  font-size: 14px;
}

.popBox .bot {
  height: 50px;
  line-height: 50px;
  border-top: solid 1px #cecece;
  display: flex;
}

.popBox .bot .cancel {
  color: #21b97a;
}

.popBox .bot span {
  flex: 1;
  line-height: 50px;
  border-right: solid 1px #bdbdbd;
}

.popBox .bot span:last-child {
  border: none;
}

/****
* tab选项卡 - 房屋管理、看房申请
****/
.tabLab {
  display: flex;
  height: 50px;
  background: #fff;
}

.tabLab div {
  text-align: center;
  font-weight: bold;
  color: #666;
  flex: 1;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.tabLab div:last-child {
  border-right: none;
}

.tabLab span {
  display: inline-block;
  line-height: 47px;
  padding: 0 10px;
  border-bottom: solid 2px #fff;
}

.tabLab .active span {
  color: #21b97a;
  border-color: #21b97a;
}

/****
* js 模拟select下拉样式
****/
.select {
  min-width: 76px;
  line-height: 40px;
  cursor: pointer;
  padding: 0 10px;
  position: relative;
}

.select .sdOpt {
  cursor: pointer;
  line-height: 40px;
  text-align: center;
}

.select .optes {
  display: none;
  box-shadow: 1px 1px 2px #999;
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 0 15px;
  border-radius: 3px;
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

.select .optes p {
  text-align: center;
  padding: 5px;
}

.select .optes p:first-child {
  padding-top: 10px;
}

.select .optes p:last-child {
  padding-bottom: 10px;
}

.select .optes p:hover {
  color: #21b97a;
}

.select .openSelect {
  display: block !important;
}

.select .clsSelect {
  transition: 1s;
  height: 0;
}

.select .optes-block {
  display: none;
  position: absolute;
  width: 300%;
  top: 50px;
  right: 0px;
  z-index: 11;
  background: #fff;
  border-left: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.select .optes-block .sl-mask {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  width: 400%;
  height: 100vh;
}

.select .optes-block .sl-itembox {
  position: relative;
  padding: 0 15px;
  padding-bottom: 20px;
  z-index: 3;
  background: #fff;
}

.select .optes-block .sl-itembox .act {
  border-color: #21b97a;
  color: #21b97a;
}

.select .optes-block .sl-items {
  border-bottom: solid 1px #eeeeee;
  padding: 10px 0;
}

.select .optes-block .sl-items .tit {
  line-height: 40px;
}

.select .optes-block .sl-items span {
  display: inline-block;
  border: solid 1px #eeeeee;
  padding: 4px 20px;
  margin: 5px 15px 5px 0;
}

.select .optes-block .sl-but {
  position: relative;
  z-index: 3;
  background: #fff;
  height: 40px;
  text-align: center;
  display: flex;
  border-top: solid 1px #eeeeee;
}

.select .optes-block .sl-but span:first-child {
  flex: 1;
  line-height: 40px;
}

.select .optes-block .sl-but span:last-child {
  flex: 2;
  line-height: 40px;
  color: #fff;
  background: #21b97a;
}

.sel {
  color: #999;
  line-height: 50px;
  width: 100%;
  text-align: left;
}

.sel span {
  display: inline-block;
  border: none !important;
  padding: 0 10px;
  width: calc(90% - 20px);
}

.start {
  margin-top: 40px;
}

.start span {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: 0 10px;
  background: url("../img/asset-startBg.png") no-repeat center center;
  background-size: cover;
}

.start .act {
  background-image: url("../img/asset-start.png");
}

.loadingMore {
  width: 45px;
  margin: 10px auto;
}

.selPop {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  max-width: 750px;
  margin: 0 auto;
  top: 0px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.selPop .selItem {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.selPop .selItem div:first-child {
  text-align: center;
  margin-bottom: 10px;
}

.selPop .selItem div:first-child li {
  background: #fff;
  line-height: 50px;
  border-bottom: solid 1px #e8e8e9;
}

.selPop .selItem div:first-child .selTit, .selPop .selItem div:first-child .act {
  color: #21b97a;
}

.selPop .selCan {
  background: #fff;
  text-align: center;
  line-height: 50px;
  border: solid 1px #e8e8e9;
}

/*
 * colors variables
 */
header {
  width: 100%;
  max-width: 750px;
  position: relative;
}

header .banner-roll {
  width: 100%;
  height: 100%;
  position: relative;
}

header .banner-roll .indicators {
  position: relative;
  display: inline-block;
  z-index: 51;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

header .banner-roll .indicators span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 5px;
  border: solid 2px #fff;
  border-radius: 50%;
}

header .banner-roll .active {
  background: #fff;
}

header .banner-roll .banner-item {
  overflow: hidden;
  position: relative;
  height: 100%;
}

header .banner-roll .banner-item .ite {
  position: absolute;
  background: top center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/*
 * colors variables
 */
.searchBox {
  position: absolute;
  height: 40px;
  z-index: 99;
  width: 100%;
  padding: 0 5%;
  top: 10%;
}

.searchBox .search {
  width: 85%;
  float: left;
  display: flex;
  height: 40px;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.searchBox .search input {
  line-height: 22px;
  outline: none;
  border-radius: 3px;
  width: calc(100% - 40px);
  padding: 0 10px 0 30px;
  font-size: 14px;
  border: none;
  background: #fff;
}

.searchBox .search .searchInput {
  border-left: solid 1px #787d82;
  height: 22px;
  margin: 9px 0;
  position: relative;
}

.searchBox .search .searchInput i {
  position: absolute;
  left: 10px;
  font-size: 16px;
  top: 2px;
}

.searchBox .searchMap, .searchBox .searchMess {
  width: 15%;
  text-align: right;
  float: right;
  font-size: 36px;
}

.searchBox .searchMap i:before, .searchBox .searchMess i:before {
  color: #fff;
  line-height: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.searchBox .searchMess {
  font-size: 30px;
}

.searchBox .searchMess i {
  position: relative;
}

.searchBox .searchMess i:before {
  color: #fff;
  line-height: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.searchBox .searchMess em {
  width: 6px;
  height: 6px;
  background: #fa5741;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -8px;
}

/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  display: flex;
  position: fixed;
  padding: 5px 0;
  left: 0px;
  bottom: 0px;
  text-align: center;
  border: solid 1px #cecece;
  font-size: 12px;
  height: 50px;
  z-index: 99;
}

footer div {
  flex: 1;
  cursor: pointer;
}

footer .active {
  color: #21b97a;
}

footer .active i:before {
  color: #21b97a;
}

footer i {
  display: block;
  margin: 4px 0px;
  line-height: 30px;
  font-size: 24px;
  width: 100%;
}

/*
 * colors variables
 */
nav {
  display: flex;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  background: #fff;
  box-shadow: 0px 3px 3px #f3f5f7;
}

nav img {
  width: 50%;
}

nav div {
  flex: 1;
  cursor: pointer;
}

/*
 * colors variables
 */
.group {
  padding: 2% 3%;
}

.group .tit {
  position: relative;
  font-weight: bold;
  font-size: 24px;
}

.group .tit span {
  position: absolute;
  font-weight: normal;
  right: 10px;
  top: 10px;
  font-size: 16px;
  color: #787d82;
}

.group .cont {
  display: flex;
  flex-wrap: wrap;
}

.group .cont .item {
  background: #fff;
  width: 49%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 3%;
  display: flex;
}

.group .cont .item img {
  width: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.group .cont .item div {
  font-size: 18px;
  flex: 1;
}

.group .cont .item .info {
  flex: 2;
}

.group .cont .item .name {
  font-weight: bold;
}

.group .cont .item .des {
  font-size: 16px;
  color: #787d82;
}

.group .cont .item:nth-child(2n-1) {
  margin-left: 0px;
}

/*
 * colors variables
 */
.contNav {
  display: flex;
  border-bottom: solid 1px #ccc;
  font-size: 16px;
  height: 50px;
  margin: 10px 0;
}

.contNav div {
  flex: 1;
}

/*
 * colors variables
 */
.item {
  position: relative;
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #ccc;
}

.item img {
  width: 100%;
}

.item div {
  flex: 6;
  max-width: 170px;
}

.item .message {
  flex: 7;
  max-width: 100%;
  margin-left: 10px;
}

.item .message .name {
  font-size: 16px;
}

.item .message .des {
  font-size: 14px;
  color: #787d82;
}

.item .message .lab span {
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  padding: 4px 5px;
  margin: 0 1px;
  line-height: 12px;
}

.item .message .lab .lab1 {
  color: #3fc28c;
  background: rgba(63, 194, 140, 0.3);
}

.item .message .lab .lab2 {
  color: #39becd;
  background: rgba(57, 190, 205, 0.3);
}

.item .message .lab .lab3 {
  color: #5aabfd;
  background: rgba(90, 171, 253, 0.3);
}

.item .message .iconText {
  position: absolute;
  top: -1px;
  right: 0px;
  color: #fff;
  width: 0px;
  height: 0;
  border-width: 30px;
  border-style: solid;
}

.item .message .cl-ready {
  border-color: #21b97a #21b97a transparent transparent;
}

.item .message .cl-end {
  border-color: #ff6565 #ff6565 transparent transparent;
}

.item .message .cl-fail {
  border-color: #999 #999 transparent transparent;
}

.item .message .cl-ready:before, .item .message .cl-end:before, .item .message .cl-fail:before {
  content: '待确认';
  text-align: center;
  color: #fff;
  position: absolute;
  font-size: 12px;
  width: 40px;
  top: -16px;
  right: -32px;
  transform: rotate(47deg);
}

.item .message .cl-end:before {
  content: '待看房';
}

.item .message .cl-fail:before {
  content: '已看房';
}

.item .message .pic {
  font-size: 14px;
  color: #fa5741;
}

.item .message .pic em {
  font-size: 16px;
  font-weight: bold;
}

.item:last-child {
  border: none;
}

/*
 * colors variables
 */
.itemC {
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #ccc;
}

.itemC img {
  width: 90%;
}

.itemC div {
  flex: 5;
  max-width: 170px;
}

.itemC .message {
  flex: 7;
  max-width: 100%;
}

.itemC .message .name {
  font-size: 16px;
  height: 60px;
  margin-bottom: 0;
  overflow: hidden;
}

.itemC .message .lab span {
  font-size: 12px;
  padding: 3px 10px;
  margin-right: 10px;
  border: solid 1px #ccc;
  color: #666;
}

.itemC .message .source {
  position: relative;
  font-size: 12px;
  color: #999;
}

.itemC .message .source span {
  position: absolute;
  right: 10px;
}

.itemC:last-child {
  border: none;
}

.app {
  max-width: 750px;
  margin: 0 auto 60px;
}

.app .contentBox {
  margin-bottom: 55px;
}

.app .contItem {
  background: #fff;
  padding: 3%;
}

.app .sort {
  position: fixed;
  right: 0;
  bottom: 10%;
}

.app .sort img {
  width: 50%;
}
